div {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    border-radius: 50%;
}

h1::first-letter{
    color: deeppink;
    font-size: 50px;
    border-radius: 10px;
    background-color: aqua;
}

h1::before{
    content: 'Город ';
    color: deeppink;
    font-size: 50px;
    border-radius: 10px;
    background-color: aqua;
}